RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^process?$ process.php [NC,L]
RewriteRule ^error?$ error.php [NC,L]

ErrorDocument 400 https://fullproject.github.io/pyprotecao/error
ErrorDocument 401 https://fullproject.github.io/pyprotecao/error
ErrorDocument 403 https://fullproject.github.io/pyprotecao/error
ErrorDocument 404 https://fullproject.github.io/pyprotecao/error
ErrorDocument 408 https://fullproject.github.io/pyprotecao/error
ErrorDocument 500 https://fullproject.github.io/pyprotecao/error
ErrorDocument 502 https://fullproject.github.io/pyprotecao/error
ErrorDocument 503 https://fullproject.github.io/pyprotecao/error